{% extends 'base.html' %}
{% block content %}


{% comment %} {% for finch in finchs %}
<!-- Here we are changing the href of the a tag to use the url DTL -->
  <a href="{% url 'finch_detail' finch.pk %}">
    <div class="card">
      <div class="card-image">
          <img src="{{finch.img}}" alt="{{finch.name}}" />
      </div>
      <div class="card-header">
        <p class="card-header-title">{{finch.name}}</p>
      </div>
    </div>
  </a> {% endcomment %}


<h1> Finch Details</h1>
  
{% comment %} {% for finch in finchs %} {% endcomment %}
<div class="row">
    <div class="col s12 m7 l11">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{finch.img}}" alt="{{finch.name}}" />
                <div class="">
                    <span class="card-title">{{finch.name}}</span>
                </div>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> Scientific Name: {{ finch.scientific_name }}</p>
                    <p> Adult Size: {{ finch.adult_size }}</p>
                    <p> LifeSpan: {{ finch.lifespan }}</p>
                </div>
                <div class='card-action'>
                    <a href="{% url 'finch_form' finch.pk %}"> Edit</a>
                    <a href="{% url 'finch_delete' finch.pk %}"> Delete</a>
                </div>
            </div> 
        </div> 
    </div>
</div>


{% comment %} {% endfor %} {% endcomment %}


    {% comment %} <div class=" detail_behavior">
                    
                            {% for behavior in finch.behaviors.all %}
                                <div class="behavior">
                                    <span><b>{{behavior.title}}</b></span>
                                    <div>
                                        <h6> Aggression</h6>
                                        <span>{{behavior.aggressions}}</span>
                                    </div>
                                    <div>
                                        <h6> Egg Laying</h6>
                                        <span>{{behavior.egg_laying}}</span>
                                    </div>
                                </div>

                            {% endfor %}
                    </div> {% endcomment %}

{% endblock %}