body{
    display: grid;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ac8a8b;
}

main{
    flex: 1 0 auto;
}

footer{
    padding-top: 0;
    text-align: right;
}

/* .detail__behavior {
  width: 100%;
  display: flex;
  flex-direction: column;
} */

.behavior {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.1fr 3fr 1fr;
  border-radius: 5px;
}

.behavior:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
